<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 	<bean id="customer" class="ca.mcmaster.spring.Customer" scope="singleton">
		<property name="name" value="Sean"/>
		<!-- <property name="car" ref="car"/> -->
	</bean>
	
	<!-- <bean id="car" class="ca.mcmaster.vo.Car">
		<property name="customer" ref="customer"></property>
	</bean>
	
	<bean id="student" class="ca.mcmaster.vo.Student" factory-method="newStudentInstance">
		<property name="name" value="Sean" />
	</bean>
	
	<bean id="beanDemo" class="ca.mcmaster.vo.BeanDemoImpl" init-method="setup" destroy-method="mydestroy">
		<property name="name" value="BeanCycleDemo"/>
	</bean>
	
	<bean class="ca.mcmaster.vo.MyBeanPostProcessor"/> -->
</beans>