<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
       
     <context:component-scan base-package="ca.mcmaster.spring"/>
    <!--只会扫描属性上的注解-->
    <context:annotation-config></context:annotation-config>
    
    <!-- 引入properties文件 -->
    <context:property-placeholder location="classpath:jdbc.properties"/>
<!--     <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" scope="singleton">
    	<property name="location" value="classpath:jdbc.properties"/>
    	<property name="fileEncoding" value="utf-8"></property>
    </bean> -->
    
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
    	<property name="driverClassName" value="${driverClassName}"/>
    	<property name="url" value="${url}"/>
    	<property name="username" value="${username}"/>
    	<property name="password" value="${password}"/>
    </bean>

 	<bean id="customer" class="ca.mcmaster.spring.Customer" scope="singleton">
		<property name="name" value="BigSean"/>
	</bean>
	
	<!-- <bean id="myBean" class="ca.mcmaster.spring.beanfactory.lifecycle.MyBean" scope="singleton">
      <property name="tag" value="test"/>
  </bean>  -->
  	<bean id="student" class="ca.mcmaster.spring.di.Student" scope="singleton">
  		<property name="name" value="Sean"/>
  		<property name="age" value="25"/>
  		<property name="customer.name" value="BBBB"/>
  		<property name="hobbies">
  			<list>
  				<value>basketball</value>
  				<value>swimming</value>
  				<value>football</value>
  			</list>
  		</property>
  		<property name="set">
  			<set>
  				<value>basketball1</value>
  				<value>swimming1</value>
  				<value>football1</value>
  			</set>
  		</property>
  		<property name="map">
  			<map>
  				<entry key="k1" value="v1"/>
  				<entry key="k2" value="v2"/>
  				<entry key="k3" value="v3"/>
  				<entry key="k4" value="v4"/>
  			</map>
  		</property>
  		<property name="properties">
  			<props>
  				<prop key="name">SeanForFun</prop>
  				<prop key="place">McMaster</prop>
  			</props>
  		</property>
  	</bean>
  	
  	<bean id="abstracatCar" class="ca.mcmaster.spring.di.Car" abstract="true">
  		<property name="brand" value="RAV4"/>
  	</bean>
  	
  	<bean id="redCar" class="ca.mcmaster.spring.di.Car" parent="abstracatCar">
  		<property name="color" value="red"/>
  	</bean>
  	
  	<bean id="teslaCar" class="ca.mcmaster.spring.di.CarFactoryBean">
  		<property name="carInfo" value="This is a while tesla."/>
  	</bean>
  	
	<bean id="car" class="ca.mcmaster.spring.di.Car" scope="singleton">
  		<constructor-arg name="brand" value="RAV4" type="java.lang.String"/>
  		<constructor-arg name="color" value="GREY" type="java.lang.String"/>
  	</bean>
  	<bean id="carFactory" class="ca.mcmaster.spring.di.CarFactory" scope="singleton"/>
  	<bean id="bmw" factory-bean="carFactory" factory-method="getInstance"></bean>
  	<bean id="lookupDi" class="ca.mcmaster.spring.di.LookupDi">
  		<lookup-method name="getStudent" bean="student"/>
  	</bean>
  	<!-- <bean id="testDemo" class="ca.mcmaster.spring.di.TestDemo"></bean> -->
</beans>