<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">

 	<bean id="customer" class="ca.mcmaster.spring.Customer" scope="singleton">
		<property name="name" value="BigSean"/>
	</bean>
	
	<!-- <bean id="myBean" class="ca.mcmaster.spring.beanfactory.lifecycle.MyBean" scope="singleton">
      <property name="tag" value="test"/>
  </bean>  -->
  	<bean id="student" class="ca.mcmaster.spring.di.Student" scope="singleton">
  		<property name="name" value="Sean"/>
  		<property name="age" value="25"/>
  		<property name="customer" ref="customer"/>
  	</bean>
  	
	<bean id="car" class="ca.mcmaster.spring.di.Car" scope="singleton">
  		<constructor-arg name="brand" value="RAV4" type="java.lang.String"/>
  		<constructor-arg name="color" value="GREY" type="java.lang.String"/>
  	</bean>
</beans>